<section id="footer">
  <div class="container">
    <div class="twelve columns">
      <a class="random-link" href="#">Github</a>
      <a class="random-link" href="#">About Me</a>
      <p>Built by <a id="twitter-link" class="random-link" href="https://twitter.com/C4MIV3R">Cam Iverson</a>. I'll be looking to continue supporting this as time goes on.</p>
    </div>
  </div>
</section>
