<div class="container">
  <section class="header">
    <div class="12 columns">
      <h2>Find the bag that fits your schedule.</h2>
      <p>If you've ever tried to fit a laptop, tablet, e-reader, all the associated chargers, AND your work... You know how difficult it can be. </p>
      <p>At TechBags we want to help you find your perfect bag to ensure you never have to carry a massive hiking backpack just to fit all your gear.</p>
      <a class="button" href="users/login">Register</a>
      <a class="button" href="users/login">Login</a>
    </div>
  </section>
</div>
