<h2>Login</h2>
<form class="" action="/login" method="post">
  <div class="row">
    <div class="six columns">
      <label for="username">Username: </label>
      <input class="u-full-width" type="text" name="name" value="" placeholder="Username">
      <label for="password">Password: </label>
      <input type="button" name="name" value="">
      <button type="button" name="button"></button>
    </div>
  </div>
</form>
