<section class="header">
  <div class="container">
    <div class="two columns">
      <h4></h4>
    </div>
    <div class="ten columns">
      <h2>My Account</h2>
        <%=@user_messge%>
    </div>
  </div>
</section>
